.BuildControls {
    width: 100%;
    background-color: #363636;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.Price {
    color: white;
   
}

.totalPrice {
    color: #98F5FF;
}

.OrderButton {
    margin: 30px;
    background-color: #7AC5CD;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #363636;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #7AC5CD;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #98F5FF;
    
    color: black;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}