.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C1C1C; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: #7AC5CD;
}


.Toolbar nav {
    height: 100%;

}

.Logo {
    height: 80%;
    background-color: #7AC5CD;
border-radius: 5px;
}

@media(max-width: 499px){
    .DesctopOnly{
        display: none;
    }
}